

.form__container{
  display:flex;
  flex-direction:row;
  align-items: center;
  background-color: $side-bar-color;
  padding:1rem;
  height:5rem;
}
.logo__container{
  flex:.5;
  display:flex;
  align-items: center;
  color:$color-white;
}
.input__row{
  display: flex;
  flex-direction:row;
  align-self: center;
  flex:1;
    &:first-child{
      color:$color-white;
  }
  &--input{
    padding:1rem;
    width:15rem;
    border:2px solid #f5f5f5f5;
    border-color: $color-white;
    box-shadow: 0 2 2 #000;
    background-color:#f5f5f5f5;
  }
  &--input:focus{
    outline:none;
  }
  align-items: center;
}
//use mixin for these two---
.search__btn{
  color:$color-white;
  padding: 1rem;
  border:2px solid $color-orange;
  border-top-right-radius:150px;
  border-bottom-right-radius: 150px;
  background-color:$color-orange;
  transition:.2s linear;
  &:hover,
  &:active{
    cursor:pointer;
    border:2px solid darken(#ff4500,10%);
    color:$color-white;
    background-color:darken(#ff4500,10%);
  }
  &:focus{
    outline:none;
  }
}
.clear__btn{
  color:$color-white;
  padding: 1rem;
  border:2px solid $color-orange;
  border-top-left-radius:150px;
  border-bottom-left-radius: 150px;
  background-color:$color-orange;
  transition:.2s linear;
  &:hover,
  &:active{
    cursor:pointer;
    border:2px solid darken(#ff4500,10%);
    color:$color-white;
    background-color:darken(#ff4500,10%);
  }
  &:focus{
    outline:none;
  }
}
