.form__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  min-height: 5rem;
  box-shadow: 0 2px 2px #eee;

  &--search {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.logo__container {
  display: flex;
  align-items: center;
  color: $color-white;

  & h1 {
    text-transform: uppercase;
    color: #666;
    font-size: 3rem;
  }
}
.input__row {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex: 1;
  &:first-child {
    color: $color-white;
  }
  &--input {
    padding: 1rem;
    width: 15rem;
    border: 1px solid #eee;
    background-color: #eee;
  }
  &--input:focus {
    outline: none;
  }
  align-items: center;
}
//use mixin for these two---
.search__btn {
  color: #fff;
  padding: 1rem;
  border: 1px solid $color-orange;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: $color-orange;
  transition: 0.2s linear;
  &:hover,
  &:active {
    cursor: pointer;
    border: 1px solid darken(#ff4500, 10%);
    color: $color-white;
    background-color: darken(#ff4500, 10%);
  }
  &:focus {
    outline: none;
  }
}
.clear__btn {
  color: #fff;
  padding: 1rem;
  border: 1px solid $color-orange;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: $color-orange;
  transition: 0.2s linear;
  &:hover,
  &:active {
    cursor: pointer;
    border: 1px solid darken(#ff4500, 10%);
    color: #fff;
    background-color: darken(#ff4500, 10%);
  }
  &:focus {
    outline: none;
  }
}
