.hidden {
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
}

.animate-box-shadow {
	animation-name: boxShadowFlash;
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-fill-mode: forwards;
	&:hover {
		transform: translateY(0.3vh);
	}
}
.dark {
	background: #333;
	color: #999;
	box-shadow: 0 4px 4px darken(#333, 10%);
	border: 1px solid #333;
}
.dark-accent {
	background: lighten(#333, 3%);
	color: #777;
	box-shadow: 0 4px 4px darken(#333, 5%);
	&:hover {
		box-shadow: 0 6px 6px darken(#333, 7%);
	}
}
.dark-borders {
	border: 0;
	border-top: 1px solid lighten(#333, 10%);
	border-bottom: 1px solid lighten(#333, 10%);
}
