.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border: 10px dashed #ff4500;
  border-radius: 50%;
  animation: 7s spin linear infinite;
}
